@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h1>Claim value: @User.Claims.FirstOrDefault().Value</h1>
<h1>Email: @User.Identity.Name</h1>
